@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

body {
  font-size: $font-size;
  color: $neutral-White;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  @include flexCenter(column);
  background-image: linear-gradient(
    $gradient-lightslateBlue,
    $gradient-lightroyalBlue
  );
}

.total__score {
  background-image: linear-gradient(
    $gradient-violetBlue,
    $gradient-persianBlue
  );
  border-radius: 100%;
  width: 8.75rem;
  height: 8.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

section {
  color: $neutral-darkgrayBlue;
  padding: 0 1.875rem;
}

li {
  display: flex;
  justify-content: space-between;
}

li span {
  display: flex;
  gap: 1rem;
}

.reaction {
  color: $primary-lightRed;
}

.memory {
  color: $primary-orangeyYellow;
}

.verbal {
  color: $primary-greenTeal;
}

.visual {
  color: $primary-cobaltBLue;
}

button {
  width: 100%;
  border-radius: 100px;
  border: none;
  background-color: $neutral-darkgrayBlue;
  color: $neutral-White;
}
