$primary-lightRed: hsl(0, 100%, 67%);
$primary-orangeyYellow: hsl(39, 100%, 56%);
$primary-greenTeal: hsl(166, 100%, 37%);
$primary-cobaltBLue: hsl(234, 85%, 45%);

$gradient-lightslateBlue: hsl(252, 100%, 67%); // background
$gradient-lightroyalBlue: hsl(241, 81%, 54%); // background

$gradient-violetBllue: hsla(256, 72%, 46%, 1); // circle
$gradient-persianBlue: hsla(241, 72%, 46%, 0); // circle

$neutral-White: hsl(0, 0%, 100%);
$neutral-paleBlue: hsl(221, 100%, 96%);
$neutral-lightLavender: hsl(241, 100%, 89%);
$neutral-darkgrayBlue: hsl(224, 30%, 27%);

$font-size: 1.125rem;

$font-weight: (
  "medium": 500,
  "bold": 700,
  "extraBold": 800,
);

body {
  font-size: $font-size;
}
